.calendar-part {
    height: 142vw;
    overflow-y: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.modal-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.calendar-header {
    text-align: center;
    width: 100%;
    padding: 5.33vw 0 2vw;
    position: fixed;
    left: 0;
    top: 36vw;
    background-color: #fff;
    z-index: 3;
}

.cur-year-month {
    margin: 5.84vw 0;
}

.week {
    display: flex;
}

.week span {
    flex: 1;
}

.calendar-panel-wrap {
    padding: 35vw 0 16vw;
}

.calendar-panel {
    padding: 3.2vw 0;
}

.date {
    margin-bottom: 3.2vw;
    text-align: center;
}

.days {
    display: flex;
    flex-wrap: wrap;
}

.days span {
    width: calc(100vw / 7);
    height: 12vw;
    line-height: 12vw;
    text-align: center;
}

.days .active {
    line-height: 8vw;
    background-color: #f48f35;
    color: #fff;
    position: relative;
}

.days .forbidden-date {
    color: #666;
    background-color: #eee;
}

.days .between-date {
    color: #fff;
    background-color: rgba(244, 143, 53, 0.31);
}

.in-date:after, .out-date:after {
    font-size: .71rem;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
}

.in-date:after {
    content: '入住';
}

.out-date:after {
    content: '离店';
}

.confirm-select {
    width: 93.6vw;
    height: 12vw;
    line-height: 12vw;
    text-align: center;
    border-radius: 12vw;
    font-size: 1.14rem;
    background-color: #f48f35;
    color: #fff;
    position: absolute;
    left: 3.2vw;
    bottom: 4vw;
}

.confirm-select:active {
    background-color: #EB882F;
}

.confirm-select-no-out-date,.confirm-select-no-out-date:active {
    color: #999;
    background-color: #dadada;
}

.hide {
    display: none;
}
